#!/usr/bin/make -f

DEB_PYTHON_SYSTEM = pycentral

binary/euca2ools::
	$(MAKE) man MANDIR=$(CURDIR)/debian/manpages-help2man

DEB_SRCDIR = euca2ools
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_SETUP_CMD = setup.py

DEB_INDEP_PACKAGES=euca2ools

clean::
	$(MAKE) clean
	$(RM) euca2ools/euca2ools/__init__.pyc
	$(RM) --recursive euca2ools/euca2ools.egg-info
	$(RM) --recursive $(CURDIR)/debian/manpages-help2man
